* {
    font-family: sans-serif;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: rgba(0, 0, 0, 0.747);
}
.true {
    color: rgb(6, 146, 6);  
    border: 1px solid rgb(6, 146, 6) !important;
}

.false {
    color: rgb(192, 0, 0);
    border: 1px solid rgb(192, 0, 0) !important;
}

.set {
    position: absolute;
    display: flex;
    flex-flow: column wrap;
    left: 0;
    top: 0;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.747);
    font-size: 2rem;
}

.set .question {
    margin: 1rem 0;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 1rem;
}

.set .question .question__title {
    font-weight: bold;
}

.set .question .answers {
    margin: 1rem 0;
    /* max-width: 60%; */
}

.set .question .answers .answer {
    margin: 0.5rem 0;
    min-width: 5rem;
    min-height: 1.5rem;
    width: fit-content;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.25s;
}

.set .question .answers .answer:hover {
    background-color: rgb(255, 255, 255);
}

.deleteBnt {
    position: relative;
    display: block;
    width: 7rem;
    height: 3rem;
    background-color: white;
    justify-self: center;
    align-self: center;
    font-size: large;
    font-weight: bolder;
    border: 0px solid;
    border-radius: 3px;
    outline: none;
    transition: border 0.2s ;
}
.deleteBnt:hover {
    /* background-color: rgba(233, 222, 222, 0.842); */
    border: 1px solid rgba(0, 0, 0, 0.322);
}